body
  text-align: center
  padding: 1em
  a
    border: 0.1em solid black
    text-decoration: none
    cursor: pointer
    display: block
    padding: 1em

    &.console-link
      background: aliceblue
      margin-bottom: 1em

    &.track
      background: burlywood
  
  [data-atrackt-category]
    border: 0.1em solid lightgrey
    padding: 1em
    margin: 1em
  #main
    background: aliceblue
    .set
      text-align: center
      background: white
